[submodule "imgui/imgui"]
	path = imgui/imgui
	url = https://github.com/yodasoda1219/imgui
[submodule "third-party/json"]
	path = third-party/json
	url = https://github.com/nlohmann/json
[submodule "yaml/yaml-cpp"]
	path = yaml/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "imguizmo/ImGuizmo"]
	path = imguizmo/ImGuizmo
	url = https://github.com/TheCherno/ImGuizmo
